body {
background-color:#000000;
}

header {
    text-align: center;
    color: #ff41e6;
    margin: 5vh auto;
    font-family: 'Orbitron', sans-serif;
    font-size: 7vh;
}

article {
font-size: 2vh;
  
}

.wrapper {
     display: grid;
     margin: auto;
     position: relative;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 50% 50%;
     width: 74vh;
     justify-content: center;
  
 
  gap: 3px;
}

#prompt-container  {
    color: #0d5f51;
    top:3vh;
    left: -1vh;
    position: absolute;
    font-family: 'Orbitron';
    max-width: 48vh;
    
}


p {
    color:white;
   
    font-size: 3vh;
    position: relative;

}

       
#design-container {
  
  display: relative;
  height: 
  
}   

.earthspin {
  position: absolute;
  height: 14vh;
  border-radius: 50%;
 bottom: 27vh;
  right: -1vh;
   
    
}

.prompt-img {
    height: 44vh;
    grid-column: 1/1;
    grid-row: 1/3;
    object-fit: fill;
    position: relative;
    
    
}

.design-el1 {
    display: flex;
    grid-column-start: 3;
    grid-row-start: 1;
    align-content: center;
    height: 22vh;
    filter: drop-shadow(0 0 0.85rem rgb(204, 0, 255));
}

.design-el2 {
    display: flex;
    grid-column-start: 3;
    grid-row-start: 2;
     height: 20vh;
     margin: 1vh 0 0 1.5vh;
    
}

#key {
    background-color:  #000000;
    color: #0d5f51;
    font-size: 4vh;
    border: .25vh solid #c98697;
    transition-duration: 0.4s;
    width: 7vh;
    height: 7vh;
    contain: layout;
    
}

#key:hover {
    background-color: #a39e00; 
    color: #b32727;
}

.row1 {
    display: flex;
    margin: 5vh 0 0 0;
    position: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
}


.row2 {
    display: flex;
    position: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
}


.row3 {
    display: flex;
    position: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
}

#restart {
    display: block;
    margin: 3vh auto;
    border: .6vh solid #0004ff;
    font-size: 3vh;
    background-color:#070707;
    color:#0004ff;
}

#restart:hover {
    background-color:#ff0000;
}